.container {
	width: 980px;
	margin: 0 auto;
}
.description {
	margin-bottom: 20px;
}
.left{
	display: inline-block;
	margin-right: 20px;
}
.left img {
	width: 200px;
	height: auto;
}
.text-right{
	vertical-align: top;
	display: inline-block;
}
li {
	list-style-type: none;	
}
ul li:before{
	content: "- ";
}
label{
	margin-right: 5px;
}
input{
	margin-left: 5px;
	padding: 5px;
}
table{
	border-collapse: collapse;
	width: 550px;
	
}
caption{
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 10px;
}
table, td, th{
	border: 1px solid #000;
}
td,th{
	padding: 5px 5px;
}